.params-table,
.events-table,
.methods-table {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  blockquote {
    @apply border-l-4 px-5 py-4 my-3 border-red-500 bg-red-100 font-normal not-italic font-normal appearance-none block;
    p:first-of-type::before,
    p:first-of-type::after {
      content: "";
    }
  }
  tbody tr {
    border-bottom: none;
  }
  pre,
  pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
.params-table tbody td:nth-child(4) {
  word-break: break-word;
}
.params-table-nested-open + tr {
  border-top: none;
}
.params-table-nested-row td:first-child {
  padding-left: 2rem !important;
}
